.splashScreen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f01b24;
}
.app{
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(#0f0c29, #302b63,#24243e); */
  background-image: linear-gradient(#FFA17F, #00223E);
  display: flex;
}
.nav{
  height: 100vh;
  width: 100px;
  background-color: rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: #fff;
  font-size: 2rem;
}
nav>*{
  cursor: pointer;
}
main{
  width: calc(100vw - 100px);
  color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  overflow: scroll;
}
header{
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .app{
    height: auto;
    flex-direction: column;
  }

  .nav{
      height: 50px;
      width: 100vw;
      flex-direction: row;
      position: fixed;
      bottom: 0;
      justify-content: space-evenly;
      font-size: 1rem;
  }
  main{
    width: 100vw;
    padding: 0 0 100px 0;
  }
  header{
    padding: 1rem;
    font-size: 2rem;
  }
}